<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>GoogleLoginServlet</servlet-name>
        <servlet-class>servlet.GoogleLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransaksiServlet</servlet-name>
        <servlet-class>servlet.TransaksiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KeranjangServlet</servlet-name>
        <servlet-class>servlet.KeranjangServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemKeranjang</servlet-name>
        <servlet-class>model.ItemKeranjang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesananServlet</servlet-name>
        <servlet-class>servlet.PesananServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Barang</servlet-name>
        <servlet-class>model.Barang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DB_Util</servlet-name>
        <servlet-class>util.DB_Util</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>servlet.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BarangServlet</servlet-name>
        <servlet-class>servlet.BarangServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportExcelBarangServlet</servlet-name>
        <servlet-class>servlet.ExportExcelBarangServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportDocxBarangServlet</servlet-name>
        <servlet-class>servlet.ExportDocxBarangServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoogleLoginServlet</servlet-name>
        <url-pattern>/GoogleLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransaksiServlet</servlet-name>
        <url-pattern>/TransaksiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KeranjangServlet</servlet-name>
        <url-pattern>/KeranjangServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemKeranjang</servlet-name>
        <url-pattern>/ItemKeranjang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesananServlet</servlet-name>
        <url-pattern>/PesananServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Barang</servlet-name>
        <url-pattern>/Barang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DB_Util</servlet-name>
        <url-pattern>/DB_Util</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BarangServlet</servlet-name>
        <url-pattern>/BarangServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportExcelBarangServlet</servlet-name>
        <url-pattern>/ExportExcelBarangServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportDocxBarangServlet</servlet-name>
        <url-pattern>/ExportDocxBarangServlet</url-pattern>
    </servlet-mapping>
</web-app>
